<!doctype html>
<html class="no-js" lang="" ng-app="caab">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome to the CAAB</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="styles/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="scripts/table.js"></script>
    <script type="text/javascript" src="scripts/load.js"></script>

</head>
<body>

<div id="header"></div>

<!-- Table code begins -->
<div class="container" id="hello">

    <table class="table table-bordered table-striped" ng-controller="mainController">
        <thead>
        <tr>
            <td>
                <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse" style="color: #111111">
                    Sushi Roll
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'fish'; sortReverse = !sortReverse" style="color: #111111">
                    Fish Type
                    <span ng-show="sortType == 'fish' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'fish' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>
                <a href="#" ng-click="sortType = 'tastiness'; sortReverse = !sortReverse" style="color: #111111">
                    Taste Level
                    <span ng-show="sortType == 'tastiness' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'tastiness' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </td>
            <td>Operations</td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="roll in sushi | orderBy:sortType:sortReverse | filter:searchFish">
            <td>{{ roll.name }}</td>
            <td>{{ roll.fish }}</td>
            <td>{{ roll.tastiness }}</td>
            <td>
                <a ng-click="alertSomething()"></a><i class="fa fa-pencil-square-o" aria-hidden="true" style="size: 12px;color: #111111;"></i></a>
                <i class="fa fa-file-text-o" aria-hidden="true" style="size: 12px;color: #111111;"></i>
                <i class="fa fa-trash-o" aria-hidden="true" style="size: 12px;color: #111111;"></i>
            </td>
        </tr>
        </tbody>
    </table>
<!-- Table code ends -->
</div>
<div id="footer"></div>
</body>
</html>
